<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from eduport.webestica.com/instructor-create-course by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Jan 2022 09:17:01 GMT -->

<head>
	<title>Eduport - LMS, Education and Course Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Eduport- LMS, Education and Course Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/choices/css/choices.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/aos/aos.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/quill/css/quill.snow.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/stepper/css/bs-stepper.min.css">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="assets/css/style.css">

	{{!-- jquey cdn link --}}
	{{!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>

<body>

	<!-- Header START -->
	{{>header}}
	<!-- Header END -->
	<!-- **************** MAIN CONTENT START **************** -->
	<main>

		<!-- ======================= Page Banner START -->
		<section class="py-0 bg-blue h-100px align-items-center d-flex h-200px rounded-0"
			style="background:url(assets/images/pattern/04.png) no-repeat center center; background-size:cover;">
			<!-- Main banner background image -->
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<!-- Title -->
						<h1 class="text-white">Submit a new Course</h1>
						<p class="text-white mb-0">Read our <a href="/" class="text-white"><u>"Before you create a
									course"</u></a> article before submitting!</p>
					</div>
				</div>
			</div>
		</section>
		<!-- ======================= Page Banner END -->

		<!-- =======================Steps START -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-8 mx-auto text-center">
						<!-- Content -->
						<p class="text-center">Use this interface to add a new Course to the portal. Once you are done
							adding the item it will be reviewed for quality. If approved, your course will appear for
							sale and you will be informed by email that your course has been accepted.</p>
					</div>
				</div>

				<div class="card bg-transparent border rounded-3 mb-5">
					<div id="stepper" class="bs-stepper stepper-outline">
						<!-- Card header -->
						<div class="card-header bg-light border-bottom px-lg-5">
							<!-- Step Buttons START -->
							<div class="bs-stepper-header" role="tablist">
								<!-- Step 1 -->
								<div class="step" data-target="#step-1">
									<div class="d-grid text-center align-items-center">
										<button type="button" class="btn btn-link step-trigger mb-0"
											style="pointer-events:none;" role="tab" id="steppertrigger1"
											aria-controls="step-1">
											<span class="bs-stepper-circle">1</span>
										</button>
										<h6 class="bs-stepper-label d-none d-md-block">Course details</h6>
									</div>
								</div>
								<div class="line"></div>

								<!-- Step 2 -->
								<div class="step" data-target="#step-2">
									<div class="d-grid text-center align-items-center">
										<button type="button" class="btn btn-link step-trigger mb-0"
											style="pointer-events: none;" role="tab" id="steppertrigger2"
											aria-controls="step-2">
											<span class="bs-stepper-circle">2</span>
										</button>
										<h6 class="bs-stepper-label d-none d-md-block">Course media</h6>
									</div>
								</div>
								<div class="line"></div>

								<!-- Step 4 changed in step 3 -->
								<div class="step" data-target="#step-3">
									<div class="d-grid text-center align-items-center">
										<button type="button" class="btn btn-link step-trigger mb-0"
											style="pointer-events:none;" role="tab" id="steppertrigger4"
											aria-controls="step-4">
											<span class="bs-stepper-circle">3</span>
										</button>
										<h6 class="bs-stepper-label d-none d-md-block">Additional information</h6>
									</div>
								</div>
							</div>
							<!-- Step Buttons END -->
						</div>

						<!-- Card body START -->
						<div class="card-body">
							<!-- Step content START -->
							<div class="bs-stepper-content">
								<form onsubmit="return false" id="imageForm">

									<!-- Step 1 content START -->
									<div id="step-1" role="tabpanel" class="content fade"
										aria-labelledby="steppertrigger1">
										<!-- Title -->
										<h4>Course details</h4>

										<hr> <!-- Divider -->

										<!-- Basic information START -->
										<div class="row g-4">
											<!-- Course title -->
											<div class="col-12">
												<label class="form-label">Course title</label>
												<input class="form-control" type="text" placeholder="Enter course title"
													name="courseTitle">
											</div>

											<!-- Short description -->
											<div class="col-12">
												<label class="form-label">Short description</label>
												<textarea class="form-control" rows="2" placeholder="Enter keywords"
													name="sortDescription"></textarea>
											</div>

											<!-- Course category -->
											<div class="col-md-6" id="courseCategory">
												<label class="form-label">Course category</label>
												<select class="form-select js-choice border-0 z-index-9 bg-transparent"
													aria-label=".form-select-sm" data-search-enabled="false"
													name="courseCategory">
													<option value="">Select category</option>
													<option value="engineer">Engineer</option>
													<option value="medical">Medical</option>
													<option value="information technology">Information technology
													</option>
													<option value="finance">Finance</option>
													<option value="marketing">Marketing</option>
												</select>
											</div>

											<!-- Course level -->
											<div class="col-md-6" id="courseLevel">
												<label class="form-label">Course level</label>
												<select class="form-select js-choice border-0 z-index-9 bg-transparent"
													aria-label=".form-select-sm" data-search-enabled="false"
													name="courseLevel">
													<option value="">Select course level</option>
													<option value="all level">All level</option>
													<option value="beginner">Beginner</option>
													<option value="intermediate">Intermediate</option>
													<option value="advance">Advance</option>
												</select>
											</div>

											<!-- Language -->
											<div class="col-md-6" id="language">
												<label class="form-label">Language</label>
												<select class="form-select js-choice border-0 z-index-9 bg-transparent"
													aria-label=".form-select-sm" data-search-enabled="false"
													name="language">
													<option value="">Select language</option>
													<option value="english">English</option>
													<option value="german">German</option>
													<option value="french">French</option>
													<option value="hindi">Hindi</option>
												</select>
											</div>

											<!-- Course time -->
											<div class="col-md-6">
												<label class="form-label">Course time</label>
												<input class="form-control" type="text" placeholder="Enter course time"
													name="courseTime">
											</div>

											<!-- Total lecture -->
											<div class="col-md-6">
												<label class="form-label">Total lecture</label>
												<input class="form-control" type="text"
													placeholder="Enter total lecture" name="totalLecture" />
											</div>

											<!-- Course price -->
											<div class="col-md-6">
												<label class="form-label">Course price</label>
												<input type="text" class="form-control" placeholder="Enter course price"
													name="coursePrice">
											</div>

											<!-- Course discount -->
											<div class="col-md-6">
												<label class="form-label">Discount price</label>
												<input class="form-control" type="text" placeholder="Enter discount"
													name="discountPrice">
											</div>

											<!-- Step 1 button -->
											<div class="d-flex justify-content-end mt-3">
												<button type="submit" class="btn btn-primary next-btn mb-0"
													id="courseDetailsadd">Next</button>
											</div>
										</div>
										<!-- Basic information START -->

									</div>
									<!-- Step 1 content END -->

									<!-- Step 2 content START -->
									<div id="step-2" role="tabpanel" class="content fade"
										aria-labelledby="steppertrigger2">
										<!-- Title -->
										<h4>Course media</h4>

										<hr> <!-- Divider -->

										<div class="row">
											<!-- Upload image START -->
											<div class="col-12">
												<div
													class="text-center justify-content-center align-items-center p-4 p-sm-5 border border-2 border-dashed position-relative rounded-3">
													<!-- Image -->
													<img src="assets/images/element/gallery.svg" class="h-50px" alt="">
													<div>
														<h6 class="my-2">Upload course image here, or<a href="#!"
																class="text-primary"> Browse</a></h6>
														<label style="cursor:pointer;">
															<span>
																<input class="form-control stretched-link my-image"
																	type="file" name="my-image" id="addfoto"
																	accept="image/gif, image/jpeg, image/png" />
															</span>
														</label>
														<p class="small mb-0 mt-2"><b>Note:</b> Only JPG, JPEG and PNG.
															Our suggested dimensions are 600px * 450px. Larger image
															will be cropped to 4:3 to fit our thumbnails/previews.</p>
													</div>
												</div>

												<!-- Button -->
												{{!-- <div class="d-sm-flex justify-content-end mt-2">
													<button type="button" class="btn btn-sm btn-danger-soft mb-3">Remove
														image</button>
												</div> --}}
											</div>
											<!-- Upload image END -->

											<!-- Step 2 button -->
											<div class="d-flex justify-content-between mt-3">
												<button class="btn btn-secondary prev-btn mb-0">Previous</button>
												<button class="btn btn-primary next-btn mb-0" id="addimage"
													type="submit">Next</button>
											</div>
										</div>
									</div>
									<!-- Step 2 content END -->

									<!-- Step 3 content START -->
									<div id="step-3" role="tabpanel" class="content fade"
										aria-labelledby="steppertrigger4">
										<!-- Title -->
										<h4>Additional information</h4>

										<hr> <!-- Divider -->

										<div class="row g-4">

											<!-- Edit faq START -->
											<div class="col-12">
												<div class="bg-light border rounded p-2 p-sm-4">
													<div
														class="d-sm-flex justify-content-sm-between align-items-center mb-3">
														<h5 class="mb-2 mb-sm-0">Upload FAQs</h5>
														<a href="#" class="btn btn-sm btn-primary-soft mb-0"
															data-bs-toggle="modal" data-bs-target="#addQuestion"><i
																class="bi bi-plus-circle me-2"></i>Add Question</a>
													</div>

													<div class="row g-4">
														<div class="col-12">
															<div class="bg-body p-3 p-sm-4 border rounded">
																<!-- Item 1 -->
																<div
																	class="d-sm-flex justify-content-sm-between align-items-center mb-2">
																	<!-- Question -->
																	<h6 class="mb-0">How Digital Marketing Work?</h6>
																	<!-- Button -->
																	<div class="align-middle">
																		<a href="#"
																			class="btn btn-sm btn-success-soft btn-round me-1 mb-1 mb-md-0"><i
																				class="far fa-fw fa-edit"></i></a>
																		<button
																			class="btn btn-sm btn-danger-soft btn-round mb-0"><i
																				class="fas fa-fw fa-times"></i></button>
																	</div>
																</div>
																<!-- Content -->
																<p>Comfort reached gay perhaps chamber his six detract
																	besides add. Moonlight newspaper up its enjoyment
																	agreeable depending. Timed voice share led him to
																	widen noisy young. At weddings believed laughing
																	although the material does the exercise of. Up
																	attempt offered ye civilly so sitting to. She new
																	course gets living within Elinor joy. She rapturous
																	suffering concealed.</p>
															</div>
														</div>

														<div class="col-12">
															<div class="bg-body p-4 border rounded">
																<!-- Item 2 -->
																<div
																	class="d-sm-flex justify-content-sm-between align-items-center mb-2">
																	<!-- Question -->
																	<h6 class="mb-0">How Digital Marketing Work?</h6>
																	<!-- Button -->
																	<div class="align-middle">
																		<a href="#"
																			class="btn btn-sm btn-success-soft btn-round me-1 mb-1 mb-md-0"><i
																				class="far fa-fw fa-edit"></i></a>
																		<button
																			class="btn btn-sm btn-danger-soft btn-round mb-0"><i
																				class="fas fa-fw fa-times"></i></button>
																	</div>
																</div>
																<!-- Content -->
																<p>Comfort reached gay perhaps chamber his six detract
																	besides add. Moonlight newspaper up its enjoyment
																	agreeable depending. Timed voice share led him to
																	widen noisy young. At weddings believed laughing
																	although the material does the exercise of. Up
																	attempt offered ye civilly so sitting to. She new
																	course gets living within Elinor joy. She rapturous
																	suffering concealed.</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- Edit faq END -->

											<!-- Tags START -->
											<div class="col-12">
												<div class="bg-light border rounded p-4">
													<h5 class="mb-0">Tags</h5>
													<!-- Comment -->
													<div class="mt-3">
														<input type="text" class="form-control js-choice mb-0"
															data-placeholder="true" data-placeholder-Val="Enter tags"
															data-max-item-count="14" data-remove-item-button="true"
															name="inputtag">
														<span class="small">Maximum of 14 keywords. Keywords should all
															be in lowercase and separated by commas. e.g. javascript,
															react, marketing</span>
													</div>
												</div>
											</div>
											<!-- Tags START -->

											<!-- Reviewer START -->
											<div class="col-12">
												<div class="bg-light border rounded p-4">
													<h5 class="mb-0">Message to a reviewer</h5>

													<!-- Comment -->
													<div class="mt-3">
														<textarea class="form-control" rows="4"
															placeholder="Write a message" spellcheck="false"
															name="messagetoreviewer"></textarea>
														<div class="form-check mb-0 mt-2">
															<label class="form-check-label" for="exampleCheck1">
																Any images, sounds, or other assets that are not my own
																work, have been appropriately licensed for use in the
																file preview or main course. Other than these items,
																this work is entirely my own and I have full rights to
																sell it here.
															</label>
														</div>
													</div>
												</div>
											</div>
											<!-- Reviewer START -->

											<!-- Step 4 button -->
											<div class="d-md-flex justify-content-between align-items-start mt-4">
												<button
													class="btn btn-secondary prev-btn mb-2 mb-md-0">Previous</button>
												<button class="btn btn-light me-auto ms-md-2 mb-2 mb-md-0">Preview
													Course</button>
												<div class="text-md-end">
													<button class="btn btn-success mb-2 mb-sm-0" id="submitCourse"
														type="submit">Submit Course</button>
													<p class="mb-0 small mt-1">Once you click "Submit a Course", your
														course will be uploaded and marked as pending for review.</p>
												</div>
											</div>
										</div>
									</div>
									<!-- Step 4 content END -->
								</form>
							</div>
						</div>
						<!-- Card body END -->
					</div>
				</div>
			</div>
		</section>
		<!-- ======================= Steps END -->

	</main>
	<!-- **************** MAIN CONTENT END **************** -->

	<!-- ======================= Footer START -->
	{{>footer}}
	<!-- ======================= Footer END -->

	<!-- Popup modal for add lecture START -->
	<div class="modal fade" id="addLecture" tabindex="-1" aria-labelledby="addLectureLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-dark">
					<h5 class="modal-title text-white" id="addLectureLabel">Add Lecture</h5>
					<button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal"
						aria-label="Close"><i class="bi bi-x-lg"></i></button>
				</div>
				<div class="modal-body">
					<form class="row text-start g-3">
						<!-- Course name -->
						<div class="col-12">
							<label class="form-label">Course name <span class="text-danger">*</span></label>
							<input type="text" class="form-control" placeholder="Enter course name">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success my-0">Save Lecture</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Popup modal for add lecture END -->

	<!-- Popup modal for add topic START -->
	<div class="modal fade" id="addTopic" tabindex="-1" aria-labelledby="addTopicLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-dark">
					<h5 class="modal-title text-white" id="addTopicLabel">Add topic</h5>
					<button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal"
						aria-label="Close"><i class="bi bi-x-lg"></i></button>
				</div>
				<div class="modal-body">
					<form class="row text-start g-3">
						<!-- Topic name -->
						<div class="col-md-6">
							<label class="form-label">Topic name</label>
							<input class="form-control" type="text" placeholder="Enter topic name">
						</div>
						<!-- Video link -->
						<div class="col-md-6">
							<label class="form-label">Video link</label>
							<input class="form-control" type="text" placeholder="Enter Video link">
						</div>
						<!-- Description -->
						<div class="col-12 mt-3">
							<label class="form-label">Course description</label>
							<textarea class="form-control" rows="4" placeholder="" spellcheck="false"></textarea>
						</div>
						<!-- Buttons -->
						<div class="col-6 mt-3">
							<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
								<!-- Free button -->
								<input type="radio" class="btn-check" name="options" id="option1" checked="">
								<label class="btn btn-sm btn-light btn-primary-soft-check border-0 m-0"
									for="option1">Free</label>
								<!-- Premium button -->
								<input type="radio" class="btn-check" name="options" id="option2">
								<label class="btn btn-sm btn-light btn-primary-soft-check border-0 m-0"
									for="option2">Premium</label>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success my-0">Save topic</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Popup modal for add topic END -->

	<!-- Popup modal for add faq START -->
	<div class="modal fade" id="addQuestion" tabindex="-1" aria-labelledby="addQuestionLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-dark">
					<h5 class="modal-title text-white" id="addQuestionLabel">Add FAQ</h5>
					<button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal"
						aria-label="Close"><i class="bi bi-x-lg"></i></button>
				</div>
				<div class="modal-body">
					<form class="row text-start g-3" id="addquestion">
						<!-- Question -->
						<div class="col-12">
							<label class="form-label">Question</label>
							<input class="form-control" type="text" name="question" placeholder="Write a question">
						</div>
						<!-- Answer -->
						<div class="col-12 mt-3">
							<label class="form-label">Answer</label>
							<textarea class="form-control" rows="4" name="answer" placeholder="Write a answer"
								spellcheck="false"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success my-0" data-bs-dismiss="modal" id="savetopic">Save
						topic</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Popup modal for add faq END -->

	<!-- Back to top -->
	<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

	<!-- Bootstrap JS -->
	<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Vendors -->
	<script src="assets/vendor/choices/js/choices.min.js"></script>
	<script src="assets/vendor/aos/aos.js"></script>
	<script src="assets/vendor/glightbox/js/glightbox.js"></script>
	<script src="assets/vendor/quill/js/quill.min.js"></script>
	<script src="assets/vendor/stepper/js/bs-stepper.min.js"></script>

	<!-- Template Functions -->
	<script src="assets/js/functions.js"></script>

	<script>
		$(document).ready(function () {
			$('#courseDetailsadd').prop('disabled', true);
			$('#addimage').prop('disabled', true);
			$('#submitCourse').prop('disabled', true);

			// ajax genrating new course id...................................
			$.ajax({
				url: "/newCourse",
				type: "post",
			});

			// on change event counting the value ..........................................
			$('input,option,textarea').change(function () {
				counter();
			});

			// updating details on course Details add button ..........................................
			$('#courseDetailsadd').click(function () {
				console.log("Your have clicked on first next button ");
				var data = {
					courseTitle: $("input[name='courseTitle']").val(),
					sortDescription: $("textarea[name='sortDescription']").val(),
					courseCategory: $("select[name='courseCategory']").find(":selected").val(),
					courseLevel: $("select[name='courseLevel']").find(":selected").val(),
					language: $("select[name='language']").find(":selected").val(),
					courseTime: $("input[name='courseTime']").val(),
					totalLecture: $("input[name='totalLecture']").val(),
					coursePrice: $("input[name='coursePrice']").val(),
					discountPrice: $("input[name='discountPrice']").val(),
				};
				console.log("data ===", data);
				$.ajax({
					URL: '/instructor-create-course',
					type: 'post',
					data,
				});
			});

			// adding image on click image add image ..................................
			$('#addimage').click(function (event) {
				console.log("you have click on to save image button .");
				event.preventDefault();
				var form = $('#imageForm')[0]
				console.log("form...", form);
				var data = new FormData(form);
				//formData.append('image', image);
				$.ajax({
					url: '/create-course',
					enctype: 'multipart/form-data',
					type: 'post',
					data: data,
					processData: false,
					contentType: false,
					cache: false,
					success: function (data) {
						console.log("datasbshbs..", data)
					}
				});
			});
			// saving data on clicking save image..............................
			var FAQ = [];
			$("#savetopic").click(function () {
				console.log("add a faq", FAQ);
				let faq = {
					question: $("input[name='question']").val(),
					answer: $("textarea[name='answer']").val(),
				};
				FAQ.push(faq);
				$('#addquestion').trigger('reset');
			});

			// final course submit button .................................... 
			$('#submitCourse').click(function () {
				console.log("you have click on submit course button")
				let data = {
					inputtag: $("input[name='inputtag']").val(),
					messagetoreviewer: $("textarea[name='messagetoreviewer']").val(),
					FAQ: FAQ,
				};
				$.ajax({
					url: '/course',
					type: 'post',
					data: data,
					success: function () {
						window.location.href = '/courseadded'
					}
				});
			});
			// already filled ...............................
			$.ajax({
				url: '/formdetails',
				type: 'get',
				success: function (data) {
					if (!data.completed) {
						console.log("inside set value");
						$("input[name='courseTitle']").val(data.courseTitle);
						$("textarea[name='sortDescription']").val(data.sortDescription);
						$("input[name='featureCourse']").val(data.featureCourse);
						$("input[name='courseTime']").val(data.courseTime);
						$("input[name='totalLecture']").val(data.totalLecture);
						$("input[name='coursePrice']").val(data.coursePrice);
						$("input[name='discountPrice']").val(data.discountPrice);
						//	$("input[name='my-image']").val(data.image);
						//$("input[name='inputtag']").val(data.tags);
						//$("textarea[name='messagetoreviewer']").val(data.message);

						$('#courseLevel').replaceWith(`<div class="col-md-6" id="courseLevel">
												<label class="form-label">Course level</label>
												<select class="form-select js-choice border-0 z-index-9 bg-transparent"
													aria-label=".form-select-sm" data-search-enabled="false"
													name="courseLevel">
													<option value="">Select course level</option>
													<option value="all level" ${data.courseLevel == 'all level' ? 'selected' : ''} >All level</option>
													<option value="all level" ${data.courseLevel == 'Beginner' ? 'selected' : ''} >Beginner</option>
													<option value="all level" ${data.courseLevel == 'intermediate' ? 'selected' : ''} >Intermediate</option>
													<option value="all level" ${data.courseLevel == 'advance' ? 'selected' : ''} >Advance</option>
												</select>
											</div>`);

						$('#courseCategory').replaceWith(`<div class="col-md-6" id="courseCategory">
												<label class="form-label">Course category</label>
												<select class="form-select js-choice border-0 z-index-9 bg-transparent"
													aria-label=".form-select-sm" data-search-enabled="false"
													name="courseCategory">
													<option value="">Select category</option>
													<option value="engineer" ${data.courseCategory == 'engineer' ? 'selected' : ''}>Engineer</option>
													<option value="engineer" ${data.courseCategory == 'medical' ? 'selected' : ''}>Medical</option>
													<option value="engineer" ${data.courseCategory == 'information technology' ? 'selected' : ''}>Information Technology</option>
													<option value="engineer" ${data.courseCategory == 'finance' ? 'selected' : ''}>Finance</option>
													<option value="engineer" ${data.courseCategory == 'marketing' ? 'selected' : ''}>Marketing</option>
												</select>
											</div>`);

						$('#language').replaceWith(`<div class="col-md-6" id="language">
												<label class="form-label">Language</label>
												<select class="form-select js-choice border-0 z-index-9 bg-transparent"
													aria-label=".form-select-sm" data-search-enabled="false"
													name="language">
													<option value="">Select language</option>
													<option value="english" ${data.language == 'english' ? 'selected' : ''}>English</option>
													<option value="english" ${data.language == 'german' ? 'selected' : ''}>German</option>
													<option value="english" ${data.language == 'french' ? 'selected' : ''}>French</option>
													<option value="english" ${data.language == 'hindi' ? 'selected' : ''}>Hindi</option>
												</select>
											</div>`);

					}
					console.log("Data got ---", data);
					//counter function............
					counter();
				},
				error: function (err) {
					console.log("err got ", err);
				}
			});
		});

		//counter function .........................................
		function counter() {
			console.log("in counter funcation");
			let count = 0;
			let collection = {
				courseTitle: $("input[name='courseTitle']").val(),
				sortDescription: $("textarea[name='sortDescription']").val(),
				courseCategory: $("select[name='courseCategory']").find(":selected").val(),
				courseLevel: $("select[name='courseLevel']").find(":selected").val(),
				language: $("select[name='language']").find(":selected").val(),
				courseTime: $("input[name='courseTime']").val(),
				totalLecture: $("input[name='totalLecture']").val(),
				coursePrice: $("input[name='coursePrice']").val(),
				discountPrice: $("input[name='discountPrice']").val(),
				image: $("input[name='my-image']").val(),
				tags: $("input[name='inputtag']").val(),
				message: $("textarea[name='messagetoreviewer']").val(),

			};
			for (let i in collection) {
				console.log("data values", i, collection[i]);
				if (collection[i] != '') {
					count++;
					console.log("counter value", count);
				};
				if (count == 9) {
					$('#courseDetailsadd').prop('disabled', false);
				};
				if (count == 10) {
					$('#addimage').prop('disabled', false);
				};
				if (count == 12) {
					$('#submitCourse').prop('disabled', false);
				};
			}
		};
	</script>


</body>

<!-- Mirrored from eduport.webestica.com/instructor-create-course by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Jan 2022 09:17:05 GMT -->

</html>