<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        .form {
            border: 1px solid black;
            height: auto;
            width: 12rem;
            margin: 14rem 10rem 14rem 37rem;
            line-height: 2;
            padding: 25px;
            font-family: ui-sans-serif;
            font-weight: bold;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="form">
        <label for="OTP">Enter Email ID :</label><br>
        <input type="text" name="emailId"> <br>
        <label for="OTP">Enter OTP :</label><br>
        <input type="text" name="OTP"> <br>
        <label for="newPassword">Enter new password :</label><br>
        <input type="password" name="newPassword"> <br>
        <label for="confirmPassword">Confirm Password :</label><br>
        <input type="password" name="confirmPassword"> <br>
        <button id="submit">Submit</button>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('#submit').click(function () {
            console.log("You have clicked on submit button");
            let OTP = $("input[name='OTP']").val();
            let emaidId = $("input[name='emailId']").val();
            let newPassword = $("input[name='newPassword']").val();
            let confirmPassord = $("input[name='confirmPassword']").val();
            if (newPassword == confirmPassord) {
                $.ajax({
                    url: "/changePassword",
                    method: "POST",
                    data: { emaidId, OTP, newPassword },
                    success: function (success) {
                        if (success.success) {
                            alert("Password Updated Successfully");
                            window.location.href="/";
                        } else {
                            alert("OTP Didn't match");
                        }
                    }
                })
            } else {
                alert("New Password and Confirm Password didnn't Matched.");
            }
        })

    })
</script>


</html>